<h2> Viewing contact info for case <%= @case_id %> </h2>
<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Mobile Number </th>
      <th> Address </th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
  <%= for contact <- @contacts do %>
    <tr>
      <td> <%= contact.title %> </td>
      <td> <%= contact.first_name %> </td>
      <td> <%= contact.last_name %> </td>
      <td> <%= contact.mobile_number %> </td>
      <td> <%= contact.address %> </td>
      <td> <a href="<%= Routes.page_path(@conn, :edit_get, case_id: @case_id, contact_id: contact.id) %>">Edit</a>
      <td>
        <%= form_for ContactInfo.Contact.changeset(contact), Routes.page_path(@conn, :delete), [method: :delete], fn form -> %>
          <%= hidden_input form, :id %>
          <%# We require this because the form might've been deleted before we clicked on the button, otherwise we might not know where to redirect back to %>
          <%= hidden_input form, :case_id %>
          <%= submit "Delete" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2> Create new contact </h2>
<%=
  contact_changeset = ContactInfo.Contact.changeset(%ContactInfo.Contact{case_id: @case_id})
  render "contact_form.html", action: Routes.page_path(@conn, :create), contact: contact_changeset
%>
